[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/StefanoND/stvim.git
[submodule "scripts/fzf-git.sh"]
	path = scripts/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "apps/ble.sh"]
	path = apps/ble.sh
	url = https://github.com/akinomyoga/ble.sh.git
[submodule "emacs/stemacs/stemacs"]
	path = emacs/stemacs/.stemacs.d
	url = https://github.com/StefanoND/stemacs.git
[submodule "emacs/doom/doomemacs"]
	path = emacs/doom/doomemacs
	url = https://github.com/doomemacs/doomemacs.git
[submodule "apps/hdrop"]
	path = apps/hdrop
	url = https://github.com/Schweber/hdrop.git
[submodule "apps/z"]
	path = apps/z
	url = https://github.com/rupa/z.git
