[submodule "emacs/.doom.d"]
	path = emacs/.doom.d
	url = https://github.com/doomemacs/doomemacs
[submodule "emacs/.spacemacs.d"]
	path = emacs/.spacemacs.d
	url = https://github.com/syl20bnr/spacemacs
[submodule "emacs/.emacs.d"]
	path = emacs/.emacs.d
	url = https://github.com/plexus/chemacs2
[submodule "emacs"]
	path = emacs
	url = https://github.com/StefanoND/emacs
