[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/StefanoND/stvim.git
[submodule "scripts/fzf-git.sh"]
	path = scripts/fzf-git.sh
	url = https://github.com/junegunn/fzf-git.sh.git
[submodule "apps/ble.sh"]
	path = apps/ble.sh
	url = https://github.com/akinomyoga/ble.sh.git
[submodule "emacs/stemacs/stemacs"]
	path = emacs/stemacs/.stemacs.d
	url = https://github.com/StefanoND/stemacs.git
[submodule "emacs/doom/doomemacs"]
	path = emacs/doom/doomemacs
	url = https://github.com/doomemacs/doomemacs.git
[submodule "apps/hdrop"]
	path = apps/hdrop
	url = https://github.com/Schweber/hdrop.git
[submodule "apps/z"]
	path = apps/z
	url = https://github.com/rupa/z.git
[submodule ".config/tmux/plugins/tpm"]
	path = .config/tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "kvantumthemes/Kvantum"]
	path = kvantumthemes/Kvantum
	url = https://github.com/catppuccin/Kvantum.git
[submodule "apps/HeadsetControl"]
	path = apps/HeadsetControl
	url = https://github.com/Sapd/HeadsetControl.git
[submodule "apps/headsetcontrol-notificationd"]
	path = apps/headsetcontrol-notificationd
	url = https://github.com/Manawyrm/headsetcontrol-notificationd.git
[submodule "apps/headset-charge-indicator"]
	path = apps/headset-charge-indicator
	url = https://github.com/centic9/headset-charge-indicator.git
[submodule "apps/CRT-Amber-GRUB-Theme"]
	path = apps/CRT-Amber-GRUB-Theme
	url = https://github.com/Jacksaur/CRT-Amber-GRUB-Theme.git
[submodule "apps/steam-devices"]
	path = apps/steam-devices
	url = https://github.com/ValveSoftware/steam-devices.git
[submodule ".tmux/plugins/catppuccin-tmux"]
	path = .tmux/plugins/catppuccin-tmux
	url = https://github.com/omerxx/catppuccin-tmux
[submodule ".tmux/plugins/tpm"]
	path = .tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm.git
[submodule "apps/ue4cli"]
	path = apps/ue4cli
	url = https://github.com/adamrehn/ue4cli.git
[submodule "apps/spotifyctl"]
	path = apps/spotifyctl
	url = https://github.com/borisfaure/spotifyctl.git
