# Global config
# nssCompiler = "~/.nimble/bin/nwnsc"
nssCompiler = "~/.nimble/bin/nwn_script_comp"
erfUtil = "~/.nimble/bin/nwn_erf"
gffUtil = "~/.nimble/bin/nwn_gff"
tlkUtil = "~/.nimble/bin/nwn_tlk"
# Use NWN_HOME environment variable instead of installDir
# installDir = ""
# Use NWN_ROOT environment variable instead of gameBin
# gameBin = ""
# Use NWN_ROOT environment variable instead of serverBin
# serverBin = ""
